<div class="row">
    <div class="col-md-2 col-sm-12 pr-0">
        <mat-form-field class="w-100">
            <mat-label>Date Interval</mat-label>
            <mat-select  [(ngModel)]="selectedDateInterval" (selectionChange)="onChangeDateInterval($event.value)">
              @for (dateInterval of dateIntervals; track dateInterval) {
                <mat-option [value]="dateInterval.id">{{dateInterval.viewValue}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-12">
        <mat-form-field class="w-100">
            <mat-label>Star Date</mat-label>
            <input matInput [matDatepicker]="startDate" [(ngModel)]="periodStartDate"  (dateChange)="onChangeStartDate($event.value)">
            <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate color="primary"></mat-datepicker>
        </mat-form-field>
        @if (isStartDateInvalid) {
            <mat-error>Invalid start date</mat-error>
        }
    </div>
    <div class="col-md-3 col-sm-12 pl-0">
        <mat-form-field class="w-100">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDate" [(ngModel)]="periodEndDate" (dateChange)="onChangeEndDate($event.value)">
            <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate color="primary"></mat-datepicker>
          </mat-form-field>
          @if (isEndDateInvalid) {
            <mat-error>Invalid end date</mat-error>
          }
    </div>
    <div class="col-md-2 col-sm-12 pl-0">
        <button *ngIf="startDates.length" mat-stroked-button (click)="resetZoom()" class="material-btn">Reset Zoom</button>
    </div>
    <div class="col-md-2 col-sm-12">
        <div *ngIf="startDates.length" class="chart-controls">
            <div class="d-flex justify-content-center">
                <div сlass="left-btn">
                    <button [disabled]="!shouldShowBtnPrevious" mat-mini-fab (click)="getPreviousData()">
                        <mat-icon> 
                            arrow_back_ios_new 
                        </mat-icon>
                    </button> 
                </div>
                <div class="right-btn">
                    <button [disabled]="!shouldShowBtnNext" mat-mini-fab (click)="getNexData()">
                        <mat-icon> 
                            arrow_forward_ios_new 
                        </mat-icon>
                    </button>
                </div>
           </div>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-12">
        <app-chart *ngIf="startDates.length" [labels]="startDates" [salesAmounts]="salesAmounts" [salesCounts]="salesCounts">
        </app-chart>
        <div *ngIf="!startDates.length" class="no-data">
            <h1>There is no data to display on the chart</h1>
        </div>
    </div>
</div>